# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test & lint caches
.pytest_cache/
.ruff_cache/
.coverage

# Build files
*.egg-info/
build/
dist/

# VS Code
.vscode/

# macOS
.DS_Store